html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body{
  font-size: 18px;
}
body {
  margin: 0;
  font-family: Gotham SSm A, Helvetica, sans-serif;
  font-weight: 300;
}
.post {
}
.post__header {
  background-image: url(./images/background.jpeg);
  background-position: 70%, 50%;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  padding: 15% 0% 15% 5%;
  height: auto;
  color: #FFF;
}
h1 {
  font-size: 2rem;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 100;
}
.post__headerLogo {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.post__headerNav {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
  white-space: nowrap;
}
.post__headerNav > li {
  display: inline-block;
}
.post__headerNav > li:after {
  content: "\2022";
}
.post__headerNav > li:last-of-type:after {
  content: none;
}
.post__headerNav > li > a {
  color: inherit;
  text-decoration: none;
}
.post__headerLine {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 10px -5px 0 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0));
}
.post__content {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 40px 20px 40px;
  line-height: 27px;
  color: #6D6D6D;
  text-align: justify;
  overflow: scroll;
}
.centeredIMG {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* @media Rule */
@media all and (min-width: 850px) {
  .post__header {
    position: absolute;
    background-position: top 25%;
    width: 50%;
    padding: 5% 0% 15% 5%;
  }
  .post__content {
    position: absolute;
    padding: 20px 40px 20px 5%;
    top: 0;
    bottom: 0;
    width: 50%;
    margin-left: 50%;
  }
}
@media all and (max-width: 850px) {
  .post__headerLine {
    display: none;
  }
}
